workflows/n8n/Telegram Workflow.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "9827d1c4-8fe6-48b0-895f-4eaadf90f79e",
      "name": "Telegram Trigger",
      "webhookId": "f3c583ab-e0ea-4d5d-a33b-0e7b2a527e78",
      "credentials": {
        "telegramApi": {
          "id": "9VucMmrWi713EKUj",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://shiftpilot-api:8000/sms",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "+15125550001"
            },
            {
              "name": "message",
              "value": "={{$json[\"message\"][\"text\"]}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        0
      ],
      "id": "c3e2d379-4dd6-406d-b302-e506d36df471",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "chatId": "={{$node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"]}}",
        "text": "={{$node[\"HTTP Request\"].json[\"draft_message\"]}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        416,
        0
      ],
      "id": "adf72f18-4de2-4669-aced-850f088be155",
      "name": "Send a text message",
      "webhookId": "82340d63-ad15-4209-a08f-0646fb0b7a11",
      "credentials": {
        "telegramApi": {
          "id": "9VucMmrWi713EKUj",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8aeb4c3b-85df-4be9-b4d5-25aee9528e6d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "55229a3577a0fa75d30996edab2dc6d365367693fdfa8ea4b94886bdf8cb3701"
  },
  "id": "quEuec5zolUJwjyY",
  "tags": []
}